/* import police ----------------------------------------*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* variables ------------------------------------------------- */
:root {
    --dark: rgb(25, 25, 27);
    --dark2: rgb(15, 15, 17);
    --grey: rgb(150, 150, 152);
  }

/* reste ------------------------------------------------- */
body,html{ background: var(--dark) ; color:white; font-family:'Roboto', Helvetica, Arial, sans-serif; font-size:18px; font-weight:400; scroll-behavior: smooth; margin:0; padding:0;}
a{color:white; text-decoration:none;}

#logo{width:30px; margin:25px; position:absolute; }
#top{padding-top:29px; margin-left:65px; font-weight:700; }

#introtexte{width:35%; margin:17vh 0 0 10%; display:inline-block; }
.titre{display:none; font-size:60px; font-size:4vw; font-weight:700; width: max-content;  animation: fadeinout 2.5s linear forwards; }
@keyframes fadeinout {0% {opacity: 0;} 50% {opacity: 1;} 75% {opacity: 1;} 100% {opacity: 0;}}
.titre:first-of-type {display: block;}
.soustitre{line-height: 155%; max-width:505px; margin-top:30px; color: var(--grey); }
#btn{ font-weight:900; display:inline-block; margin-top:40px; padding:13px 20px; background:white; color:var(--dark); border-radius:10px;}
#btn:hover{opacity:0.7;}

#image{display:inline-block;vertical-align:top; position:absolute; left:55%; top:110px; top:16vh;  width:35%; }

#corps{margin: 22vh 0 0 10%; width:700px; max-width:80%; /*margin-left:calc(50% - 350px);*/ }
.titre2{font-size:28px; font-weight:700; margin-top:50px; padding:16px 0 0 0; line-height: 130%; }
.texte{color: var(--grey); margin-top:20px; line-height: 155%; }
li{line-height: 155%; color: var(--grey); }
ul li b{color:white;}

#reassurance{margin:80px 0 60px 50px; font-size:25px; font-weight:500; }
#reassurance div{ margin:20px 0; }
#reassurance img{width:30px; vertical-align:middle; margin-right:15px; }

#contacturl{padding-top:30px;}
#contact{  position:relative; width:450px; margin:30px 0 60px 0;  padding:50px 50px 50px 60px; background:var(--dark); border: solid 1px rgb(60,60,62); border-radius:25px;}
#contact div{ margin:15px 0; }
#contact img{width:30px; vertical-align:middle; margin-right:15px;}
#contact .titre2{font-size:40px; padding:0; margin:0 0 40px 0;}

#bottom{padding:100px 0 40px 10%; font-size:16px; color:var(--grey);}

@media screen and (max-width: 800px) { 
#introtexte{width:86%;margin:12vh 0 0 7%; display:block; text-align:center;}
.titre{font-size:9vw;}
.soustitre,#btn{margin-top:10%;}
.soustitre{max-width:none;}
#introimage{display:block; margin-top:50px; margin-bottom:50px;}
#image{position:static; width:80%; margin:7% 0 0 10%;}
#corps{width:86%;margin:0 0 0 7%; max-width:86%;}
.titre2{font-size:25px;margin-top:7%;}
#reassurance{margin-left:0%; font-size:21px;}
#contact{padding:11% 11% 9% 11%;width:78%; display:block;}
#contact .titre2{font-size:30px;}
#bottom{padding-left:7%;padding-top:55px;width:86%;text-align:center;}
}


/* background dégradé ------------------------------------------ */

html {
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  min-height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, var(--dark), var(--dark2));
}