/*

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*/

/* variables ------------------------------------------------- */
:root {
    --dark: rgb(25, 25, 27);
    --dark1: rgb(20, 20, 22);
    --dark2: rgb(15, 15, 17);
    --grey: rgb(130, 130, 135);
    --blue: rgb(0, 115, 255);
    --green: rgb(120, 255, 210);
  }

/* global ------------------------------------------------- */
:root{background:black;}
body,html{ background-color: black; color:white; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; scroll-behavior: smooth; margin:0; padding:0; font-size:15px; font-weight:500; line-height:150%;   }
a{color:white; text-decoration:none; cursor:pointer; }
a:hover {cursor:pointer !important;}
select {cursor:pointer;}
::placeholder {color: grey; }
.opacite {opacity:0.35;}

.derouler .top {display:flex; justify-content: space-between; align-items: center; padding:15px 0;  -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.derouler .top:hover { cursor:pointer; }
.derouler .top span {text-align:left; margin-right:30px;}
.derouler .image {vertical-align:middle; width:15px;}
.derouler .contenu {padding:0 15px 10px 15px; text-align:left; }
.derouler .contenu .radio {background:transparent; border:solid 2px white; color:white; padding:10px 15px; margin:15px 0; }
.derouler .contenu .radio.selected { border:solid 2px var(--blue); }
.derouler .contenu, .derouler .cacher {display:none;}

@media screen and (max-width: 600px) { 
  /* .titre {width:85%; margin:50px auto 30px auto;  } */
  }

/* menu ----------------------------------------------------- */
#menu { z-index:1; width:100%; top:0; left:0; text-align:center; font-weight:600; line-height:115%;  }
#menu .menu {display:inline-block; vertical-align:middle; padding:15px 15px; cursor:pointer;  vertical-align:middle;}
#menu #logo {display:inline-block; height:25px; vertical-align:middle; margin:0 20px;}
#menu #globe {width:15px; padding-right:5px; vertical-align:middle;}
#menu .sousmenu {position:absolute; top:47px; left:0; width:100%; z-index:3; background:var(--dark);  padding:30px 0; font-size:17px; }

#sousmenuun a {width:180px; text-align:left; display:block; margin: 15px auto;  }
#sousmenutrois a {width:80px; text-align:left; display:block; margin: 15px auto;  }


/* page ------------------------------------------------- */
.page .intro {/*width:60%;*/ padding:200px 20% 200px 20%; margin:0 0 0 0; text-align:center;  }
.page .intro .grandtitre {font-size:55px; width:100%; margin-bottom:30px; line-height:115%; font-weight:700; text-align:center; /* text-shadow: rgba(0,0,0,0.5) 0 0 20px;*/ } 
.page .intro .soustitre {font-size:20px; width:100%; margin-bottom:30px; line-height:150%; opacity:0.8; text-align:center;   }
.page .btn {background:var(--blue); display:inline-block; border-radius:25px; font-size:15px; padding:10px 22px 11px 22px; margin:10px; line-height:100%;}
.page .btn.blanc {background:transparent; border:solid 2px white; padding:9px 21px 10px 21px;  }

.page .section { padding:100px 25% 100px 25%; font-size:20px; line-height:145%; text-align:center;  }
.page .section .titre { text-align:center; padding:0; margin:0; margin-bottom:25px; font-size:40px; line-height:125%; font-weight:700; }
.page .section .texte { text-align:center; padding:0; margin:0 0 25px 0;   opacity:0.65;  }
.page .section ul { opacity:0.5;  }

.page .section.blanc {background:white; color:black; }
.page .section.blanc .titre {font-weight:800; }
.page .section.blanc .btn {background:var(--blue);  }
.page .section.gris {background: var(--dark);  }
.page .section.gris .btn {background:transparent; border:solid 2px white; padding:9px 21px 10px 21px;  }
.page .section.noir {background:black;  }
.page .section.noir .btn {background:transparent; border:solid 2px white; padding:9px 21px 10px 21px;  }

.page .portofolio {padding:100px 0 100px 0; background:var(--dark);  }
.page .portofolio .titre {text-align:center; padding:0; margin:0; margin-bottom:40px; font-size:40px; line-height:125%; font-weight:700; }
.page .portofolio .images {position:relative; left:0; width:100%; padding:0 20px; overflow-x: auto; white-space: nowrap; box-sizing: border-box; scrollbar-width: none;}
.page .portofolio .images::-webkit-scrollbar {display: none; }
.page .portofolio img {height:225px; width:auto; margin:0 10px; border-radius:10px; display: inline-block; }

.page .tarifs {padding:100px 0 100px 0; background:var(--dark); text-align:center;}
.page .tarifs .titre {text-align:center; padding:0; margin:0; margin-bottom:40px; font-size:40px; line-height:125%; font-weight:700; }
.page .tarifs .bloc {position:relative; display:inline-block; width:370px; margin:0 15px 30px 15px; border:solid 4px white; vertical-align:top; border-radius:20px; text-align:center;  }
.page .tarifs .bloc .soustitre { margin:20px 0 30px 20px; width:200px; text-align:left; font-size:24px; font-weight:700; line-height:110%; }
.page .tarifs .prix{position:absolute; top:3px; right:0; display:inline-block; margin:20px; text-align:right; font-size:18px; font-weight:700; }
.page .tarifs ul{ margin:0 40px; padding:0; margin-right:20px; font-weight:500; text-align:left;  }
.page .tarifs li{margin:7px 0;}
.page .tarifs .cgv {margin:0 20px 20px 20px; font-size:12px; }
.page .tarifs .cgv a {border-bottom:solid 2px white;}
.page .tarifs .btn {display:block; margin:30px 20px 10px 20px; padding: 15px 0; font-weight:700; }
.page .tarifs li a {border-bottom:solid 2px white;}
.page .tarifs a:hover {opacity:0.8; }

.page .tarifs .bloc.un {border-color:rgb(255, 210, 215);  }
.page .tarifs .bloc.un span {color:rgb(255, 210, 215);  }
.page .tarifs .bloc.un .btn {background:rgb(255, 210, 215); color:black; }

.page .tarifs .bloc.deux {border-color:rgb(196, 177, 212);  }
.page .tarifs .bloc.deux span {color:rgb(185, 148, 215);  }
.page .tarifs .bloc.deux .btn {background:rgb(196, 177, 212); color:black; }

.page .tarifs .bloc.trois {border-color:rgb(255, 200, 98);  }
.page .tarifs .bloc.trois span {color:rgb(255, 200, 98);  }
.page .tarifs .bloc.trois .btn {background:rgb(255, 200, 98); color:black; }

.page .tarifs .bloc.quatre {border-color:rgb(165, 220, 175);  }
.page .tarifs .bloc.quatre span {color:rgb(165, 220, 175);  }
.page .tarifs .bloc.quatre .btn {background:rgb(165, 220, 175); color:black; }

.page .tarifs .bloc.cinq {border-color:rgb(171, 197, 223);  }
.page .tarifs .bloc.cinq span {color:rgb(171, 197, 223); }
.page .tarifs .bloc.cinq .btn {background:rgb(171, 197, 223); color:black; }

.page .tarifs .bloc.six {border-color:rgb(236, 195, 159);  }
.page .tarifs .bloc.six span {color:rgb(236, 195, 159);  }
.page .tarifs .bloc.six .btn {background:rgb(236, 195, 159); color:black; }

@media screen and (max-width: 750px) {
  .page .intro { padding:50px 10% 50px 10%;  }
  .page .section { padding:100px 10% 100px 10%; }
  .page .tarifs .bloc {width:90%; margin: 0 0 10% 0; }
  .page .tarifs .bloc .soustitre {width:55%; margin:5% 5% 30px 5%; }
  .page .tarifs .bloc .prix {width:30%; margin:5% 5% 30px 5%; }
}


/* accueil ---------------------------------------------------- */
#accueil.intro {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/img/accueil/intro.jpg') no-repeat center center;
  background-size: cover; 
}

/* app ---------------------------------------------------- */
#app.intro {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/img/app/intro.jpg') no-repeat center center;
  background-size: cover; 
}

/* automatisation ---------------------------------------------------- */
#automatisation.intro {
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/img/automatisation/intro.jpg') no-repeat center center;
  background-size: cover; 
}

/* siteweb ---------------------------------------------------- */
#siteweb.intro {
  background: linear-gradient(rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.5)), url('/img/siteweb/intro.jpg') no-repeat center center;
  background-size: cover; 
}


/* faq ------------------------------------------------- */
#faq {padding:100px 0;  }
#faq .titre {text-align:center; padding:0; margin:0; margin-bottom:30px; font-size:40px; line-height:125%; font-weight:700;}
#faq .derouler {width:900px; border-bottom:solid rgb(50,50,50) 1px; margin-left:auto; margin-right:auto;}
#faq .derouler .top {font-size:17px; padding:15px 0; font-weight:700;}
#faq .derouler .contenu {padding:0 0 15px 0;}

@media screen and (max-width: 950px) { 
#faq .derouler {width:90%; background:transparent;  margin:0; padding:10px 5%; }

}


/* footer ------------------------------------------------ */
#footer{ width:100%; text-align:center;  }
#footer a { margin: 0 20px; }
#footer #copyright { width:100%; margin:20px 0; text-align:center;  font-size:12px;  }
#footer .contact { /*width:60%;*/ padding:100px 10% 100px 10%; margin-bottom:30px; background: white; color:black; font-size:20px; line-height:145%;   }
#footer .contact .titre { text-align:center; padding:0; margin:0; margin-bottom:25px; font-size:40px; line-height:125%; font-weight:800;  }
#footer .contact .texte { text-align:center; padding:0; margin:0 0 50px 0;   opacity:0.65; }
#footer .contact .bloc { display:inline-block; margin:0 35px; }
#footer .contact .bloc .titre { font-size:28px; }

@media screen and (max-width: 750px) {
  #footer .contact{   }
}





/* texte ----------------------------------------------- */
#texte {width:800px; margin-left:auto; margin-right:auto; text-align:left; }
#texte .grandtitre {font-size:55px;  width:750px; text-align:left; padding:0; margin:60px 0 0 0; line-height:115%; font-weight:700; }
#texte .titre {font-size:30px; text-align:left; padding:0; margin:50px 0 20px 0;  }
#texte .texte {font-size:16px; text-align:left; padding:0; margin:15px 0;  }
#texte a {border-bottom:solid 2px white;}
#texte a:hover {border-bottom:solid 2px transparent; cursor:pointer;}

@media screen and (max-width: 900px) { 
  #texte {width:90%; }
  #texte .grandtitre {width:90%; font-size:35px; }
  }